@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background: rgb(238, 238, 238);
  height: 100vh;
  width: 100%;
  font-family: 'Kaushan Script', cursive;
}
.main-heading {
  font-size: 2rem;
  text-align: center;
  margin-top: 3rem;
  font-style: italic;
}
.heading-span {
  font-size: 3.5rem;
  color: #ef7998;
}
.menu-names {
  display: flex;
  width: 50%;
  margin: 2rem 25%;
  justify-content: space-between;
}
.btn {
  font-size: 16px;
  border: 1px solid black;
  border-radius: 6px;
  padding: 5px;
  font-weight: 600;
  /* font-style: italic; */
  font-style: italic;
  cursor: pointer;
}

.btn:hover {
  background: black;
  color: #ef7998;
  /* color: #fff; */
}
.card {
  width: 350px;
  height: 400px;
}
.items-container {
  display: flex;
  /* justify-content: space-between; */
  padding: 1rem 6%;
  flex-wrap: wrap;
  gap: 15px;
  /* grid-template-columns: 3; */
  /* grid-template-rows: 3; */
}
.card-imgbox {
  width: 350px;
  justify-content: space-between;
  height: 320px;
}
.card-imgbox img {
  height: 100%;
  width: 100%;
}
.card-textbox {
  justify-content: space-between;
  display: flex;
  padding: 10px 10px;
  padding-right: 20px;
  background: cornsilk;
  /* font-size: 14px; */
}
.card-textbox h2 {
  font-weight: 300;
}
.hidden {
  display: none;
}
