@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background: #fff;
  font-family: 'Lato', sans-serif;
}
.acordian {
  margin: 200px auto 0 auto;
  width: 50%;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.item {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 30px;
  align-items: center;
  padding: 30px;
  cursor: pointer;
  border-radius: 5px;
}
.number {
  font-size: 32px;
}
h2 {
  /* text-decoratio; */
  font-size: 32px;
}
.icon {
  height: 24px;
  width: 24px;
}
.hidden-box {
  grid-column: 2/3;
  display: none;
}
.hidden-box p {
  line-height: 1.6;
  margin-bottom: 24px;
  font-size: 20px;
  letter-spacing: 0.5px;
  word-spacing: 3px;
}
.hidden-box ul li {
  margin-left: 16px;
  line-height: 1.6;
  font-size: 20px;
  letter-spacing: 0.5px;
  word-spacing: 3px;
}
.hidden-box ul {
  display: flex;
  gap: 24px;
  flex-direction: column;
}
.active .hidden-box {
  display: block;
}
